#five {
    align-items: center; 
    text-align: center; 
    background-color: bisque; 
    border-radius: 600px; 
    width: 90%; 
    margin:  0px 4%
}
#six {
    align-items: center; 
    text-align: center; 
    background-color: bisque; 
    border-radius: 600px; 
    width: 90%; 
    margin:  0px 4%
}